.main-wrapper {

}
.main {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  /*overflow: hidden;*/
}
.main h1 {
  font-size: 3.5vw;
}
.main p {
  font-size: 2vh;
}
.arrow-button {
  /*opacity: 0;*/
  background: none;
  border: none;
  cursor: pointer;
}
