.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*padding: 100px;*/
}
.link {
  width: 250px;
  height: 250px;
  border-radius: 25%;
  /*background-color: rgba(255, 255, 255, 40%);*/
  border: 5px solid red;
  background-color: rgba(255, 255, 255, 0.72);
  background-size: 250px 250px;
  background-position: center;
  background-repeat: no-repeat;
  /*filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(126deg) brightness(100%) contrast(96%);*/
}
.Sprint {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Audio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.headerSprint {
  color: white;
  text-decoration: none;
  /*position: relative;*/
  top: 14vh;
  left: 25vw;
}
.headerAudio {
  color: white;
  text-decoration: none;
  /*position: relative;*/
  top: 7vh;
  left: 58vw;
}