.displayed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 7%);
}

.displayed-card span {
  margin-top: 5px;

  font-style: normal;
  font-family: Open Sans, serif;
  font-weight: 400;
  size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.displayed-card__controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.displayed-card__divider {
  height: 3px;
  width: 100%;
  background-color: rgba(216, 216, 216, 20%);
  border: none;
}