.displayed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 7%);
}

.displayed-card span {
  margin-top: 5px;

  font-style: normal;
  font-family: Open Sans, serif;
  font-weight: 400;
  size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.displayed-card__controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 15px;
}

.displayed-card__divider {
  height: 3px;
  width: 100%;
  background-color: rgba(216, 216, 216, 20%);
  border: none;
}

.button {
  padding: 12px 50px;

  font-family: Open Sans, serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;
  color: #FFFFFF;

  background: none;
  border: 2px solid #DD0B56;
  cursor: pointer;
  transition: linear 0.1s;
}

.button:hover {
  background-color: #DD0B56;
  box-shadow: 0 0 1px 1px #DD0B56;
  transition: linear 0.2s;
}