.dropdown-menu-my {
  display: none;
  width: 12vh;
  min-width: 8vh;
  top: 0;
  border: 0px;
  background: transparent;
  transform: translateY(-100%);
  z-index: 100;
}
.active-button {
  display: block;
}
.dropdown-item {
  z-index: 100;
  background-color: chartreuse;
  /*cursor: pointer;*/
}
.dropdown-item:hover {
  z-index: 100;
  /*background-color: chartreuse;*/
}