.indicator {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}

.indicator li {
  width: 25px;
  height: 25px;
  border-radius: 15px;
}

.indicator .check {
  background-color: #DD0B56;
}

.indicator .uncheck {
  background-color: #FFFFFF;
}